@model IEnumerable<KhuongBlog.Models.Article>

@foreach (var p in Model)
{
    <div class="card">
        <img class="img" src="~/images/3.jpg" asp-append-version="true">
        <h1>@p.Title</h1>
        @p.Content
    </div>
}
@foreach (var p in Model)
{
<div class="card">
    <img class="img" src="~/images/4.jpg" asp-append-version="true">
    <h1>@p.Title</h1>
    @p.Content
</div>
}
